.container
  .container__tasks
    - @tasks.each do |task|
      .content-box
        = task.created_at.strftime('%Y/%m/%d %H:%M')
        = link_to "/tasks/#{task.id}" do
          %h3
            %radio_button
            = task.title
        = simple_format(task.content)
        = link_to "/tasks/#{task.id}", method: :delete do
          %i.fas.fa-trash-alt.fa-lg
      
  .container__new
    .new-content 
      = form_with model: @task do |f|
        = f.text_field :title, class: "new-content__title"
        %br
        = f.text_area :content, class: "new-content__content"
        %br
        %label.task-label
          %i.fas.fa-tasks.fa-2x.input-icon
          = f.submit value: "タスクを登録", class: "new-content__abtn"
        %label.task-label
          %i.fas.fa-book.fa-2x.input-icon
          = f.submit value: "記事として保存", name: "article", class: "new-content__bbtn"
        = link_to "/tasks/#{params[:id]}", method: :delete do
          %i.fas.fa-trash-alt.fa-2x.input-icon

  .container__articles
    - @articles.each do |article|
      .content-box 
        = link_to "/articles/#{article.id}" do
          %h3
            = article.title