.container__tasks
  - @tasks.each do |task|
    .content-box
      = task.created_at.strftime('%Y/%m/%d %H:%M')
      = link_to "/tasks/#{task.id}" do
        %h3
          %radio_button
          = task.title
      = simple_format(task.content)
      = link_to "/tasks/#{task.id}", method: :delete do
        %i.fas.fa-trash-alt.fa-lg